<?xml version="1.0"?>
<!--
/**
 * Copyright © DMLab. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add an Okta setup-info block to admin-scim's section. -->
        <section id="dmlab_admin_scim">
            <group id="okta" translate="label" type="text" sortOrder="50"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Okta Setup</label>
                <comment>How to wire an Okta SCIM application to this store's endpoint.</comment>
                <field id="setup_info" translate="label" type="label" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SCIM Connector</label>
                    <frontend_model>DmLab\AdminScimOkta\Block\Adminhtml\System\Config\SetupInfo</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
